.main {
    font-family: 'Poppins', sans-serif;
    background-color : #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    /* margin-top: 40px; */
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    color: #555;
    margin-bottom: 5px;
    font-weight: 500;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
/* .input-group input:focus {
    border-color: #4e54c8;
} */
.btn {
    width: 100%;
    background-color: #005f73;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover {
    background-color: #004e5e;
}
.redirect {
    text-align: center;
    margin-top: 15px;
}
.redirect a {
    color: #4e54c8;
    text-decoration: none;
}
.redirect a:hover {
    text-decoration: underline;
}