{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {% block style %}{% endblock  %}
</head>

<body>
  <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand" href="{% url 'dashboard' %}">FinTrack</a>

      <div class="d-flex align-items-center">
        <div class="profile text-end me-2">
          <div>{{ user.get_full_name|default:user.username }}</div>
          <div class="text-muted" style="font-size: 0.85rem;">{{ user.email }}</div>
        </div>
        <div class="avatar">{{ user.first_name|slice:":1"|default:"U" }}</div>
        <a class="logout ms-3" href="{% url 'logout' %}">Sign out <i class="bi bi-box-arrow-right"></i></a>
      </div>
    </div>
  </nav>

  <div class="d-flex">
    
{% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'signup' %}

    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark text-white p-3" style="width: 230px; min-height: 100vh; margin-top: 56px;">
      <h5 class="mb-3">Menu</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
            <i class="bi bi-speedometer2 me-2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if request.resolver_match.url_name == 'record_list' %}active{% endif %}" href="{% url 'record_list' %}">
            <i class="bi bi-journal-text me-2"></i> Records
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if request.resolver_match.url_name == 'budget_list' %}active{% endif %}" href="{% url 'budget_list' %}">
            <i class="bi bi-wallet2 me-2"></i> Budget
          </a>
        </li>
        <!-- Add more links later -->
      </ul>
    </div>
      {% endif %}
    <!-- Main Content -->
    <div class="flex-grow-1 p-4" style="margin-top: 56px;">
      {% block content %}{% endblock %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</body>

</html>